<div dojoAttachPoint="fileuploader" class = "fileupload_pane">
<!--
/* 
 *------------------------------------------------------------------- 
 * Licensed Materials - Property of IBM
 * Restricted Materials of IBM
 * 5724-H82
 * (C) Copyright IBM Corp.2010 All Rights Reserved.
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp
 -------------------------------------------------------------------
 */
-->
	<span dojoAttachPoint="inputBox"></span>
	<span dojoAttachPoint="browseBtn"></span>
	<div dojoAttachPoint="uploadBtn"></div>
	<span dojoAttachPoint="statusMessage" class="loadingMsg"></span>
	<div dojoAttachPoint="clearBtn"></div>
	<span dojoAttachPoint="errorMessage" class="errorMsg"></span>
</div>


